body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
}
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
main {
  border-bottom: 1px solid #ccc;
  position: relative;
}
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#name {
  display: flex;
  margin: 0 0 24px;
}
#name_box {
  display: flex;
  margin: 7px;
}
#tel {
  display: flex;
  margin: 0 0 24px;
}
#tel_box {
  display: flex;
  margin: 7px;
}
